﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CustomerDemoAngular</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="touch-icon.png" />

    <link rel="icon" href="./touch-icon.png" />
    <meta name="msapplication-TileImage" content="./touch-icon.png" />

    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/application.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div class="banner">
        <!-- Slideout Menu Toggle - Hamburger menu -->
        <a class="slide-menu-toggle-open no-slide-menu"
           title="More...">
            <i class="fa fa-bars"></i>
        </a>

        <!-- Icon and Company Logo -->
        <div class="title-bar no-slide-menu">
            <a href="./">
                <img class="title-bar-icon" src="./images/Icon.png" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: bold;">West Wind</i><br />
                    <i style="color: whitesmoke; font-size: 1.65em; font-weight: bold;">Customer Demo </i>
                </div>
            </a>
        </div>

        <!-- top right nav menu - .menu-hidable for options that hide on small sizes -->
        <nav class="banner-menu-top pull-right">
            <a href="#" class="menu-hidable">
                <i class="fa fa-book"></i>
                Link
            </a>
            <a href="./">
                <i class="fa fa-home"></i>
                Home
            </a>
        </nav>
    </div>


    <div id="MainView">
        <div class="container"  ng-controller="pageController as vm">

            <div class="page-header-text"><i class="fa fa-list-alt"></i> Customer Angular Demo</div>


            <style>
                .customer-list-item {
                    padding: 10px 8px;
                    border-bottom: 1px silver solid;
                }
                .customer-list-item:hover {
                    background-color: khaki;
                    transition: all 0.5s ease-out;;
                }
                .customer-header {
                    font-size: 1.3em;
                    font-weight: bold;
                    color: steelblue;
                }
                .customer-subheader {
                    font-size: 1.1em;
                    color: #535353;
                    font-weight: bold;
                }
                .customer-body-container {
                    padding: 0 25px;
                }
            </style>

            
            <!--<div class="well well-sm">
                <div class="form-group">
                    <label class="control-label" for="form-group-input">Company</label>
                    <input id="Company" type="text"
                           class="form-control"
                           ng-model="vm.customers[0].company"
                           placeholder="Company">
                </div>
                <button ng-click="vm.btnSaveCompany()">Update</button>
            </div>-->

            <div class="customer-list-item" ng-repeat="customer in vm.customers">
                <div class="customer-header">
                    <i class="fa fa-user"></i>
                    {{customer.company}}
                </div>
                <div class="customer-body-container">
                    <div class="customer-subheader">
                        {{customer.firstName}} {{customer.lastName}}
                    </div>
                    <div class="small">
                        {{customer.email}} &bullet; {{customer.phone}}
                        <br/>
                        {{customer.address}}
                    </div>
                </div>
            </div>


        </div>

    
   </div> <!-- end #MainView -->


    <footer>
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="./images/WestwindText.png" />
        </a>
        <small>&copy; West Wind Technologies</small>
    </footer>



    <!-- slide in menu - Remove if you don't use it -->
    <nav class="slide-menu">
        <div style="padding: 10px 10px 10px 3px;">
            <a class="slide-menu-toggle-close">
                <i class="fa fa-bars"></i>
            </a>

            <a class="disabled">
                <i class="fa fa-home"></i>
                Main Menu
            </a>

            <a href="./">
                <i class="fa fa-home"></i>
                Home
            </a>

            <a href="#" class="indented">
                <i class="fa fa-newspaper-o"></i>
                Sub Link
            </a>
            <a href="#" class="indented">
                <i class="fa fa-newspaper-o"></i>
                Sub Link 2
            </a>

            <a href="#">
                <i class="fa fa-rss-square"></i>
                Login
            </a>
        </div>
    </nav>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="CustomerDemoAngular.js"></script>
    <script>
        $(".slide-menu-toggle-open,.slide-menu-toggle-close," +
          ".slide-menu a, #SamplesLink")
        	.click(function () {
        	    $(".slide-menu").toggleClass("active");
        	});
    </script>
</body>
</html>