﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular ToDo List</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="touch-icon.png" />

    <link rel="icon" href="./touch-icon.png" />
    <meta name="msapplication-TileImage" content="./touch-icon.png" />

    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/application.css" rel="stylesheet" />
</head>
<body>
    <div class="banner">
        <!-- Slideout Menu Toggle - Hamburger menu -->
        <a class="slide-menu-toggle-open no-slide-menu"
           title="More...">
            <i class="fa fa-bars"></i>
        </a>

        <!-- Icon and Company Logo -->
        <div class="title-bar no-slide-menu">
            <a href="./">
                <img class="title-bar-icon" src="./images/Icon.png" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: bold;"> West Wind</i><br />
                    <i style="color: whitesmoke; font-size: 1.65em; font-weight: bold;">ToDo List</i>
                </div>
            </a>
        </div>

        <!-- top right nav menu - .menu-hidable for options that hide on small sizes -->
        <nav class="banner-menu-top pull-right">
            <a href="#" class="menu-hidable">
                <i class="fa fa-book"></i>
                Link
            </a>
            <a href="./">
                <i class="fa fa-home"></i>
                Home
            </a>
        </nav>
    </div>

    <style>
        #form1 input.ng-invalid.ng-touched, #form1 textarea.ng-invalid.ng-touched {
            background-color: #ffced1;
        }

        #form1 input.ng-valid.ng-touched, #form1 textarea.ng-valid.ng-touched {
            background-color: #baffc3;
        }

        .todo-item {
            padding: 10px;
            margin-left: 10px;
            border-bottom: 1px solid silver;
            transition: height 1s;
        }

        .todo-header {
            font-weight: bold;
            font-size: 1.2em;
            color: #457196;
        }

        .todo-content {
            padding-left: 40px;
        }

        .completed {
            text-decoration: line-through;
            color: grey !important;
            font-style: italic;
            opacity: 0.6;
        }
    </style>
    <div id="MainView"
         ng-app="app"
         ng-controller="pageController as vm">
        <div class="container">

            <div class="page-header-text">
                <i class="fa fa-list-alt"></i>
                Angular ToDo List
            </div>

            <div class="alert alert-warning alert-dismissable"
                 ng-show="vm.message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ vm.message }}
            </div>

            <div class="well">
                <form name="form1" id="form1" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bookmark"></i> </span>
                            <input type="text" class="form-control"
                                   id="title" name="title"
                                   ng-model="vm.activeTodo.title"
                                   ng-minlength="5"
                                   placeholder="Enter the title for this ToDo"
                                   required />
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control"
                                  id="description"
                                  style="height: 100px"
                                  ng-model="vm.activeTodo.description"
                                  ng-minlength="10"
                                  ng-
                                  placeholder="Enter the description for this placeholder"
                                  required></textarea>
                    </div>


                    <button class="btn btn-primary"
                            ng-click="vm.addTodo()"
                            ng-disabled="form1.$invalid">
                        <i class="fa fa-plus"></i> Add Todo
                    </button>
                    <button class="btn btn-primary" ng-click="vm.loadTodos()">
                        <i class="fa fa-download"></i> Load ToDos
                    </button>
                </form>
            </div>


            <div ng-repeat="todo in vm.todos"
                 class="todo-item"
                 ng-class="{completed: todo.completed}">

                <div class="pull-left"
                     ng-click="vm.toggleCompleted(todo)">
                    <i class="fa" ng-class="{'fa-bookmark-o': !todo.completed,'fa-bookmark': todo.completed}"></i>
                </div>

                <div class="pull-right"
                     title="click to remove this ToDo item."
                     ng-click="vm.removeTodo(todo)">
                    <i class="fa fa-remove" style="color: darkred; cursor: pointer"></i>
                </div>

                <!--<input type="checkbox"
                   class="pull-right"
                   ng-model="todo.completed"/>-->

                <div class="todo-content">
                        <div class="todo-header">
                            {{ todo.title}}
                        </div>
                        <div>
                            {{todo.description}}
                        </div>
                    </div>
                </div>

        </div>  <!-- end #MainView.container -->
    </div> <!-- end #MainView -->


    <footer>
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="./images/WestwindText.png" />
        </a>
        <small>&copy; West Wind Technologies</small>
    </footer>



    <!-- slide in menu - Remove if you don't use it -->
    <nav class="slide-menu">
        <div style="padding: 10px 10px 10px 3px;">
            <a class="slide-menu-toggle-close">
                <i class="fa fa-bars"></i>
            </a>

            <a class="disabled">
                <i class="fa fa-home"></i>
                Main Menu
            </a>

            <a href="./">
                <i class="fa fa-home"></i>
                Home
            </a>

            <a href="#" class="indented">
                <i class="fa fa-newspaper-o"></i>
                Sub Link
            </a>
            <a href="#" class="indented">
                <i class="fa fa-newspaper-o"></i>
                Sub Link 2
            </a>

            <a href="#">
                <i class="fa fa-rss-square"></i>
                Login
            </a>
        </div>
    </nav>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="scripts/ww.jquery.js"></script>
    <script src="scripts/ww.angular.js"></script>
    <script src="ToDo.js"></script>
    <script>
        $(".slide-menu-toggle-open,.slide-menu-toggle-close," +
          ".slide-menu a, #SamplesLink")
        	.click(function () {
        	    $(".slide-menu").toggleClass("active");
        	});
    </script>
</body>
</html>