﻿      </div> <!-- container -->
   </div> <!-- end #MainView -->

    <div class="separator" style="margin-bottom: 3px;"></div>

    <div style="padding: 0 8px 40px;">
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="../images/wwtoollogo.png" />
        </a>
        <small>&copy; Westwind Technologies, 1994-<%= YEAR(Date()) %></small>
    </div>

</body>
</html>