/* BROWSER RESET (based on Eric Meyer's Reset) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video {

	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;		
	line-height: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
:focus {
	outline: 0;
}
html, body {
    height: 100%; 
}
body 
{
    background: white;
	color: black;
	line-height: 1.35;
}
ol, ul {
	list-style: disc;
	margin: 20px;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	/* text-align: inherit; */
	padding: 4px;
	}
blockquote, q {
    quotes: none;
    margin: 15px;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';	
}

input, select, textarea {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
}	
p
{
	margin: 10px 0;
}
/* END BROWSER RESET */


/* BUILT-IN ELEMENT CUSTOMIZATION */
body,table,td,th,input,textarea,select
{
    font-family:  Geneva, Verdana, 'DejaVu Sans', sans-serif;    
    font-size: 10pt;
}
pre
{
    color: black;
    font-family: monospace,courier new;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
img
{
    border: none;
    margin: 0;    
}
h1
{
    background-color: #eeeeee;
    color:  #003399;
    font-size: 160%;
    font-weight: bold;
    padding: 5px;
    text-align: center;    
}
h2
{
    color: maroon;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;    
}
h3
{
    color: steelblue;
    font-size: 110%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 6px;    
}
td
{
    vertical-align: top;
    padding: 4px;
}
table.blackborder>tbody>tr>td
{
	border: solid 1px lightgrey;	
}
th
{
	border-collapse: collapse;
	font-weight: bold;
	text-align: center;
}
a 
{ 
    color:#003399;
    text-decoration: none;    
}
a:visited
{
	color: #2170b1;
    text-decoration: none;   
}
a:hover 
{ 
  color:maroon;
  border-bottom: 1px dotted;
}
small, .smalltext,.small
{
    font-size: 0.825em;
    font-weight: normal;
}
hr 
{ color:  silver; background:  silver; border: 0; height:1px;margin: 10px 0; }
	
ul 
{
    margin-bottom: 10px;
    margin-top: 10px;    
    margin-left: 30px;
}	
li
{
	margin-top: 3px;	
}
fieldset
{
	border: solid 1px darkgrey;	   
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;
	border-radius: 5px;
}
legend {
    font-weight: bold;
    color: white;
    padding: 2px 10px;
    min-width: 150px;
    margin: 0 5px;
    background: #3B5998;
    border: solid 1px #354165;
    text-align: left;
    box-shadow: 2px 2px 2px #535353;
    border-radius: 3px;
}
/*legend
{    
	font-weight: bold;
	background: #DE8079;
	color: White;
	padding: 2px 5px;
	margin: 3px;
	border: solid 1px maroon;
	text-align: left;
}*/
   
input[type=text], input[type=password], select, textarea,
input[type=url],input[type=email],input[type=date],input[type=datetime]
{    	    	
      border: 1px solid #cccccc;
      box-shadow: 1px 1px  8px #eee;
      transition: border linear 0.2s, box-shadow linear 0.2s;

	background-color: #F5F7FA;    		
	padding: 3px;
	border-radius: 3px;
}
input[type=text]:focus, input[type=password]:focus,textarea:focus, 
select:focus,input[type=url]:focus, input[type=email]:focus,input[type=date]:focus,
input[type=datetime]:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;	    
    background: cornsilk;        
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button, input[type=button], input[type=submit], input[type=reset]
{
    padding: 3px 6px;
    width: auto;    
}
.webconnection-header {
    background:  #003399;
    color: cornsilk;
    font-size: 16pt;
    font-weight: bold;
    padding: 4px; padding-top:5px;
    text-align:center;
}
.webconnection-body {
    padding: 20px;
    font-size: 100%
}
.clearfix,.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.hidden
{
    display: none;
}
.rightalign
{
	float: right;
	text-align: right;	
}
.leftalign
{
    float: left;
    text-align: left;
}
.number
{
    text-align: right;
}
.date
{
    width: 95px;
}
.datetime 
{
    width: 100px;
}
.label, label , .label-left
{
    font-weight: bold;
}
.label-left
{
    float: left;
    width: 150px;
}

.disabled
{
    cursor: default !important;
    opacity: 0.7;
}
.disabled:hover
{
    cursor: transparent !important;
    color: inherit !important;
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
}
.blackborder
{
	border-style: solid;
	border-width: 2px;
	border-color: #003399;
	background: white;
	text-align: left;
}
.bigtext
{
	font-size: 1.7em;
	font-weight: bold;
	color:  #003399;
}
.boxshadow 
{
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;       
  box-shadow: 3px 3px 5px #535353;
}
.roundbox
{  
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
}
.roundbox-top
{    
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;    
    border-radius: 4px 4px 0 0;
}
.roundbox-bottom
{    
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.footer
{
    margin: 10px 0px;
    border-top: solid 1px  #003399; 
    font-size: 0.825em;   
    padding: 5px 10px;
}

.sortable, .sortable a
{
    color: khaki;
}
.imagelink
{
	text-decoration: none;
	display: inline-block;
	padding-left:4px;
	padding-right: 4px;
	padding-top: 2px;
}
.imagelink:hover { background: lightsteelblue; color:black; text-decoration:none; } 

.submitbutton
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-weight: bold;
    font-size: 1.1em;
    padding: 8px 15px;
	min-width: 175px;
	background: #36589B;
	color: #fffde9;
    border: 1px solid gray;
    border-radius: 7px;
}
.submitbutton:hover { 
    background: #3E62AA;   
} 
.submitbutton:active {     
    box-shadow: none;
}

.smallbutton
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	height: 23px;
	width: 90px;
	font-size: 0.825em;
	color:  #003399;
	background: orange;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #535353;
}
    .smallbutton:hover {
        background: #FFBB3E;
    }
    .smallbutton:active {
        box-shadow: none;
    }


[class^="icon-"],
[class*=" icon-"] {
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    background: transparent;    
    display: inline-block;
}
.icon-home {
    background-image: url(images/home.png);
}
.icon-refresh {
    background-image: url(images/refresh.png);    
}
.icon-info {
    background-image: url(images/info.png);    
}
.icon-warning {
    background-image: url(images/warning.png);
}
.icon-help {
    background-image: url(images/help.png);    
}
.icon-new {
    background-image: url(images/new.png);    
}
.icon-edit {
    background-image: url(images/edit.png);    
}
.icon-list {
    background-image: url(images/list.png);   
}
.icon-remove {
    background-image: url(images/remove.png);
}
.icon-users {
    background-image: url(images/users.png);
}
.icon-close {
    background-image: url(images/close.png);
}
.icon-closex {
       background-image: url(images/closeX.png);
       width: 29px;
       height: 29px;
}

.errormessage
{
	font-weight: bold !important;
	color: maroon !important;
}
.errordisplay
{	
	width: 70%;
	font-weight: normal;
	color: maroon !important;
	background-color:khaki !important;
	border: solid 2px maroon !important;	
	margin: 10px 0;
	padding: 10px;
	box-shadow: 3px 3px 5px #535353;
	border-radius: 4px;    
}
.errordisplay-warning-icon, .errordisplay-error-icon, .errordisplay-info-icon {
    width: 16px;
    height: 16px;
    float: left;    
    margin: 0 5px;
    background-image: url(images/warning.png);
}
.errordisplay-info-icon {
    background-image: url(images/info.png);
}
.errordisplay-text{
    margin-left: 30px;    
}
.errordisplay hr
{
	background: maroon;
}
.errorhighlight
{
    background-color: #FCEBF2 !important;
    border-color: Red !important;
    border-width: 2px !important;  
}
.containercontent
{
	padding: 20px;	
}   
.contentcontainer
{
  margin: 15px;
  padding: 20px;
  background: white;       
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-right: solid 2px #535353 ;
  border-bottom: solid 2px #535353;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #535353  ;
}
.dialog
{
  background: White;
  overflow: no-display;
  border: solid 1px lightgray;      
  border-radius: 8px 8px 3px 3px;    
}
.dialog-header
{	
	background-image: url(images/dialogheader.png);    
	background-repeat: repeat-x;
    background-color: #36589B;
	text-align: left;
	color: whitesmoke;
	padding: 5px;	
	padding-left: 10px;
	font-size: 1.02em;
	font-weight: bold;	
	position: relative;
    -moz-border-radius: 4px 4px 0px 0px;   
    -webkit-border-radius: 4px 4px 0px 0px;       
    border-radius: 4px 4px 0px 0px;       
}
.dialog-top
{
    -moz-border-radius: 4px 4px 0px 0px;   
    -webkit-border-radius: 4px 4px 0px 0px;       
    border-radius: 4px 4px 0px 0px;       
}
.dialog-bottom
{
    -moz-border-radius: 0 0 3px 3px;   
    -webkit-border-radius: 0 0 3px 3px;   
    border-radius: 0 0 3px 3px;   
}
.dialog-content
{
	padding: 15px;
	text-align: left;
}
.dialog-statusbar, .dialog-toolbar
{
	background: #eeeeee;
	background-image: url(images/dialogstrip.png);
	background-repeat: repeat-x;
	padding: 5px;
	padding-left: 10px;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 0.8em;
}
.dialog-statusbar
{
    -moz-border-radius: 0 0 3px 3px;   
    -webkit-border-radius: 0 0 3px 3px;   
    border-radius: 0 0 3px 3px;   
	padding-right: 10px;
}
.tooltip {
    background: cornsilk;
    border: solid 1px gray;
    font-size: x-small;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #535353;
}
.closebox,.closebox-container
{
	position: absolute;    	
    right: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background-image: url(images/close.png);
	background-repeat: no-repeat;
	cursor: pointer;    	
	opacity: 0.80;
	filter: alpha(opacity="80");
} 
.closebox-container {
    right: -10px;
	top: -10px;
   	width: 28px;
	height: 28px;
	background-image: url(images/closex.png);
}
.closebox:hover,.closebox-container:hover 
{	
	opacity: 1;
	filter: alpha(opacity="100");
}
.toolbarcontainer  
{
	background:#eeeeee;
	background-image: url(images/dialogstrip.png);
	background-repeat: repeat-x;
	border: solid 1px silver;
	vertical-align: top;
	padding: 5px; 
}

.statusbar
{
	position: fixed ;
	bottom: 0px;
	left: 10px;
	right: 10px;
	height: 16px;	
	padding: 8px 2px 8px 10px;	
	font-weight: normal;
	background: black;
	color: white;	
	opacity: .80;	
	filter: alpha(opacity="85");
	z-index: 200;
	overflow: no-display;	
	border-radius: 8px 8px 0 0;            
    box-shadow: -1px -1px 6px 2px #535353;
}
.statusbarhighlight
{
	font-weight: bold;
	color: yellow;	
}
.statusbarclose
{
	position: absolute;
	right: 1px; 
	top: 1px;
	color:red;
	font-size: 0.825em;
	font-weight: bold;
    	opacity: 0.80;
	cursor: pointer;
    	width: 28px;
    	height: 28px;
    	background-image: url(images/closex.png);
    	background-repeat: no-repeat;
}
.statusbarclose:hover
{
	opacity: 1;
}

.hoverbutton,.pagebutton
{
	text-decoration:none;		
	padding: 5px; 	
	font-size: 0.825em; 		
	border: solid 1px transparent; 	
	margin-right: 5px;	
	border-radius: 4px;
}
.hoverbutton:hover,.pagebutton:hover  
{	
	background: khaki url(images/dialoghighlight.png); 
	color: Black;
	border: solid 1px silver; 
	cursor: pointer;
	text-decoration: none;
}     
.hoverbutton a, .hoverbutton a:visited
{
	text-decoration: none;
	color: Black;
}
.hoverbutton img
{
	vertical-align: text-bottom;
}
.tabbutton, .tabbutton-selected, .tabbutton-disabled
{
    float: left;
    background: #B0C4DE;
    color: Black;
    cursor: pointer;
    text-align: center;
    min-width: 80px;
    padding: 7px;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 6px 6px 0 0;
    box-shadow: 3px 0px 4px #535353;      
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabbutton-selected
{
    font-weight: bold;
    background: #4062A7;            
    color: White;
    cursor: default;
}
.tabbutton:hover
{
    background: #3366CC;
    color: white;        
}
.tabbutton-disabled
{
    cursor: default;    
    color: #535353;
    opacity: 0.60;
    filter: alpha(opacity="60");
}
.dragwindow
{
	background: white;
	border: solid 2px steelblue;
	position: absolute;					
}




.blackborder
{
	border-style: solid;
	border-width: 2px;
	border-color: #003399;
	background: white;
	text-align: left;
}

/* used for show record display Html Helper */
.recordcontainer
{
    border: 1px solid steelblue
}
.recordcontainer input, .recordcontainer textarea
{
    width: 400px;
}
.recordheader
{
    background-color: steelblue;
    color: white;
    text-align: right;   
    padding-right: 10px;
    font-weight: bold;
    min-width: 140px;     
}

/* alternate background color color to offset the background
   used for the category list and banner strips for color
   variety. should be a companion color to the block background
   colors (previous tag
*/
.alternatebackground
{
	color: white;
	background-color: #0066cc;
}
/* block backgrounds for headers etc. */
.menuband, .gridheader, .gridheaderbig, .gridpager, .buttonlinks, .blockheader
{
	color: cornsilk;
	background-color: #003399;
	padding: 0px;
}
/* used for any block tags like headers on tables etc. */
.blockheader
{
	font-weight:bold;
}
.banner
{
	color: cornsilk;
	font-weight:bold;
	background: #003399 url('images/floralbackground_sm.png') ;
	height: 16px;
	padding: 5px;
	white-space:nowrap;
}
.bannertext
{
	color: White;
	text-decoration: none;
	padding: 1px 0;
}
.bannertext:visited
{
	color: white;
}
.bannertext:hover
{
	color: #003399;
	background: #F5F5F5;	
}
.bannersubtitle
{
	color: khaki;
	float:left;
	padding-left:8px;
}


/* used on the category list as a standard link */
.menuband, .menuband-bottom
{	
	font-weight: bold;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	background-image: url('images/dialogheader.png');
	background-repeat: repeat-x;
}
.menuband-bottom
{
    height: 7px;
    background-position: 0% 20%;	

}
.menulinkcontainer
{
	padding: 5px;
}
.menurow 
{ 
	padding:5px;
	border-bottom: solid 1px white ;
}
.menulink
{
    color: white;
    font-size: 0.825em;
    font-weight: normal;
    text-decoration: none ;
    display:block;
    text-align:left;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 5px;
    border: solid 1px transparent;
}
.menulink:visited { color: #eeeeee; } 
.menulink:hover 
{ 
	color:#003399; 
	text-decoration:none; 
	font-weight:normal; 
	background: #F5F5F5;
}


.gridheader, .gridheaderbig, .gridheaderleft, .gridheaderright, .gridpager
{	
	padding: 4px;
	color: cornsilk;
	background:  #003399 url(images/dialogheader.png) repeat-x;
	text-align: center;
	font-weight: bold;
	text-decoration: none;	
}
.gridheader a, .gridheaderbig a
{
	color: cornsilk;
	text-decoration: none;
}
.gridheaderleft
{
	text-align: left;
}
.gridheaderright
{
	text-align: right;
}
.gridheaderbig
{	
	font-size: 135%;
	background-image: url(images/vertgradient.png);
	background-repeat: repeat-x;
}
.gridnormal
{
	background-color: #eeeeee;
}  
.gridalternate
{
    background-color: lightsteelblue;
}
.gridhighlight
{
	background-image: url(images/LightOrangeGradient.png);
	background-repeat: repeat-x;
	background-color: White;	
	cursor:pointer;
}
.gridpager, .gridpager table tr td
{	
	border: none 0px transparent;	
	text-align: right;
	padding: 3px;
	color: cornsilk;	
	font-weight: bold;		
}
.gridpager a, .gridpager a:visited
{	
	font-weight: normal;
	text-decoration: none;
	color: white;	
}
.groupheader  
{
	background: SteelBlue; 
	color: White; 
	padding: 4px; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	font-weight: bold !important;
}    
.groupheader a
{
    color: White;
    text-decoration: none;
}
.grouping
{
    padding: 10px;
	background-color: whitesmoke;   
	position: relative; 	
}
.menucontainer
{
	margin: 3px;
	margin-left: 10px;
}
.logindisplay
{
    background-color: khaki;
    color: Maroon;
    border: 2px solid maroon;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #535353;     
}
.loginheader
{
    background-color: Maroon;
    color: White;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}
.loginbody {
    padding: 10px 15px;
}
    .loginbody label {
        display: block;
        margin-top: 10px;
    }
    .loginbody input[type=text],input[type=password]  {
        width: 100%;
    }
    .loginbody .errordisplay {
        width: auto;
        margin: 0;
    }
    .loginbody hr {
        color: darkred;
        background: darkred;
    }
.smallprogress,.smallprogressright
{
	width: 16px;
	height: 16px;
	background-image: url(images/loading_small.png);
	background-repeat: no-repeat;			
	display: none;	
}
.smallprogressright { float: right }
.notebox
{
	background: lightsteelblue;
	padding: 10px;
	border: solid 1px  silver;
	margin: 5px 40px 15px 30px;
	font-size: 0.825em;
	box-shadow: 2px 2px 3px #535353;
	border-radius: 5px;
}

/* custom styles - app specific */
.descriptionheader
{
	background: khaki;
	color: black;
	font-size: 0.825em;
	text-align: left;
	padding: 10px;
	border-top: solid 1px silver;
}
.highlight
{
    background-image: url(images/lightorangegradient.png);
    background-repeat: repeat-x;
}
.samplebox
{
	padding: 10px 20px 15px 20px;
	border-bottom: 1px dashed steelblue;		
}

/* Overrides for jQuery UI controls */
#ui-datepicker-div
{
    display: none;
}
.ui-autocomplete 
{
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	width: 500px;
	font-size: 1pt;
	-moz-box-shadow: 3px 3px 5px #535353;
    -webkit-box-shadow: 3px 3px 5px #535353;       
    -box-shadow: 3px 3px 5px #535353;
}

.code {
    padding: 10px;
    border: solid 1px silver;
    background: khaki;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #535353;
}

/* general code parsing */
.codec1
{color: blue;}
.codec2  /* keywords */
{color: blue;font-weight:bold;}
.codec3
{color: blue;}
.codec4
{color: blue;}
.codec5  / * literal */
{color: yellow;}
.codec6
{color: blue;}
.codec7
{color: blue;}
.codec8
{color: blue;}
.codec9
{color: blue;}
.codec10
{color: blue;}

.codecomment
{color: green; }

.codestring
{color:  teal; }

.codestrong {
   border: black solid  1px;
   background-color: #ffd700;
   padding-left:1px;
   padding-right:1px;
}

.codestrike 
{
 text-decoration: line-through;
}

/* custom language styles that are attached to the wordfile.txt languages */
.vfpcode .programcontrol {color: blue;} 
.vfpcode .functions {color: blue;}
.vfpcode .commands {color: blue;} 
.vfpcode .methods {color: blue;} 
.vfpcode .properties {color: blue; }
.vfpcode .classes {color: red; font-size: 120%; font-variant: small-caps;} 
.vfpcode .events {color: #483d8b;} 
.vfpcode .systemvars {color: blue;}


.vbcode .constants {color: blue; font-face: bold}
.vbcode .datatypes {color: darkblue;font-face: bold}
.vbcode .keywords {color: blue;} 
.vbcode .statements {color: blue;} 
.vbcode .functions {color: blue; }
.vbcode .depracated {color: grey; font-size: 120%; font-variant: small-caps;} 
.vbcode .programcontrol {color: blue;}

.csharpcode .programcontrol {color: blue;}
.csharpcode .datatypes {color: blue; font-weight: bold;}
.csharpcode .literals {color: darkblue; font-weight: bold;} 
.csharpcode .operators {color:blue;} 
.csharpcode .preprocessor {color: lightblue;} 

.htmlcode .elements {color: darkred; }
.htmlcode .attributes {color: red; }
.htmlcode .codestring {color: teal; background:;}

.xmlcode .elements {color: darkred; }
.xmlcode .attributes {color: red; }
.xmlcode .commands {color: darkred; font-weight:bold }